/* Layout */
.navbar-brand {
    width: 100px;
}

hr{
    margin: 1rem 0 3rem 0;
}

/* Index */
.wrapper{
    margin: 0.2em 1em;
}

.main-area img{
    max-height: 220px;
}

#home_heading{
    display: inline;
}