{% extends "flashcardsApp/layout.html" %}
{% load static %}

{% block body %}
    <div class="wrapper">
        <!-- Page Title -->
        <h1>Flashcards</h1>

        <!-- Main area -->
        <div class="main-area row">
            <div class="col-md-5">
                <div class="card" >
                    <img class="card-img-top" src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png" alt="Create a new deck of cards">
                    <div class="card-body">
                      <h5 class="card-title">Create a new deck</h5>
                      <p class="card-text">Create an empty deck of cards. You then can add cards to it.</p>
                      <a href="#" class="btn btn-primary">Create a deck</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card" >
                    <img class="card-img-top" src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png" alt="Create a new card">
                    <div class="card-body">
                      <h5 class="card-title">Create a new card</h5>
                      <p class="card-text">Create a card and add it to existing deck.</p>
                      <a href="#" class="btn btn-primary">Create a card</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    


    <script src="{% static 'flashcardsApp/scripts.js' %}"></script>
{% endblock %}