{% extends "flashcardsApp/layout.html" %}
{% load static %}

{% block body %}
    
<!-- Page Title -->
<h1>Flashcards</h1>

<!-- Main area -->
<div class="main-area row">
    <div class="col-md-5">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Create a new deck</h5>
              <p class="card-text">Create an empty deck of cards. You then can add cards to it.</p>
              <a href="{% url 'new_deck' %}" class="btn btn-primary">Create a deck</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Create a new card</h5>
              <p class="card-text">Create a card and add it to existing deck.</p>
              <a href="{% url 'new_card' %}" class="btn btn-primary">Create a card</a>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">View all Decks</h5>
              <p class="card-text">See a list of all decks created.</p>
              <a href="{% url 'view_decks' %}" class="btn btn-primary">View all decks</a>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">View all Cards</h5>
              <p class="card-text">See a list of all cards created.</p>
              <a href="{% url 'view_cards' %}" class="btn btn-primary">View all cards</a>
            </div>
        </div>
    </div>
</div>
    


    <script src="{% static 'flashcardsApp/scripts.js' %}"></script>
{% endblock %}