{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Flashcards App{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'flashcardsApp/style.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'flashcardsApp/favicon.ico' %}"/> 
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img class="navbar-brand" src="{% static 'flashcardsApp/assets/flashcardsApp.png' %}" alt="Flashcards logo">
            </a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_decks' %}"">All Decks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cards' %}"">All Cards</a>
                  </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            <div class="wrapper">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <script src="{% static 'flashcardsApp/scripts.js' %}"></script>
    </body>
</html>